@page "/practice"
@using Polyglot.WebUI.StateContainers

@inject PracticeSetupContainer Setup

<link href="css/card.css" rel="stylesheet"/>

<h5>Procvičování</h5>

<input type="checkbox" id="card-1"/>
<label style="width: 400px" class="card-container" for="card-1">
    <div class="card-flip">
        <!-- Card 1 Front -->
        <div class="card front">
            <div class="container p-3">
                <div class="p-3 text-wrap">czzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</div>
            </div>
        </div>
        <!-- End Card 1 Front -->

        <!-- Card 1 Back -->
        <div class="card back">
            <div class="container p-3">
                deeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee
            </div>
        </div>
        <!-- End Card 1 Back -->
    </div>
</label>


@code {

}