################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/TeutonicLehrer
/src/TeutonicLehrer/obj
/src/.vs/ProjectEvaluation
/src/.cr/personal/FavoritesList
/src/Polyglot/.vs/Polyglot
/src/Polyglot/Polyglot.WebUI/obj
