@using Polyglot.Application.Models
@using Polyglot.WebUI.ViewModels
<h5>Vyber lekce:</h5>

@foreach (var lesson in Lessons)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="lessonCheck" @bind="lesson.IsSelected">
        <label class="form-check-label" for="lessonCheck">
            @lesson.LessonName
        </label>
    </div>
}

@code {

    [Parameter]
    public LessonSelectionViewModel[] Lessons { get; set; }

}